.facts {
  text-align: center;
  padding: 2rem;
  border: 1px solid gray;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: rgba($color: white, $alpha: 0.5);

  .fact-text {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: #000;
  }

  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background: #6200ea;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: #3700b3;
    }
  }
}
