<h1 class="shadowed">Facts List</h1>

<div class="facts-list">
  @if (!submitted){
  <form (ngSubmit)="submitName()" novalidate>
    <label for="name">Enter your name:</label>
    <input type="text" id="name" name="name" required [(ngModel)]="name" />
    <button type="submit">Submit</button>
  </form>
  } @else {
  <h3 class="shadowed">Hello {{ name }}!</h3>
  <p>Here are all cat facts we have:</p>

  <div class="facts-container" [class.loading]="loading">
    <ul>
      @for (fact of facts; track fact.fact){
      <li>{{ fact.fact }}</li>
      }
    </ul>

    <div class="pagination">
      <button (click)="previousPage()" [disabled]="current_page === 1">Previous</button>
      <span>{{ current_page }} of {{ last_page }}</span>
      <button (click)="nextPage()" [disabled]="current_page === last_page">Next</button>
    </div>
  </div>
  }
</div>
